:root {
	--green1: #a4fba6;
	--green2: #4ae54a;
	--green3: #30cb00;
	--green4: #0f9200;
	--green5: #006203;
	--grey1: #e5e5e5;
	--grey2: #c5c5c5;
	--grey3: #acacac;
	--grey4: #7b7b7b;
	--grey5: #515151;
}

body {
	background-color: var(--grey2);
}

.transparent {
	opacity: 0;
	height: 0;
}

nav {
	width: 100vw;
	display: flex;
	justify-content: center;
}

.nav-button {
	width: 49%;
	font-size: xx-large;
	color: var(--grey5)
}

.wild {
	background-image: linear-gradient(var(--green2), var(--green1));
	color: var(--green5);
	border: 3px solid var(--green5)
}

.nav-button:disabled {
	background-image: none;
	background-color: var(--grey3);
	color: var(--grey2);
	border-color: var(--grey2);
	cursor: not-allowed;
}

.welcome-div {
	padding: 20px;
}

.welcome-div > h1 {
	text-align: center;
}

.banner {
	font-size: 65px;
}

.banner > span {
	font-size: 60px;
}

.warning {
	text-align: center;
	color: firebrick
}
.click-count {
	text-align: center;
}

.wild-animals {
	background-color: var(--green3);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.animal-on-list {
	font-size: xx-large;
	background-image: linear-gradient(to bottom right, var(--green5), var(--green4));
	border: none;
	width: 100px;
	border-radius: 50%;
}

.animal-on-list > h1, p {
	margin: 5px;
}

.zoo-animals {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.clicker-on-list {
	font-size: xx-large;
	background-color: var(--grey1);
	border: none;
	width: 125px;
	border-radius: 50%;
}

.clicker-on-list > h1, p {
	margin: 0;
}

.clicker-on-list > p {
	font-size: 16px;
	margin-bottom: 20px;
}

.clicks-per-click {
	text-align: center;
	font-weight: lighter;
}

.goal-bar {
	text-align: center;
}

.success-container {
	padding: 20px;
	background-color: var(--grey4);
	height: 100vh;
	text-align: center;
	color: var(--grey1);
}

.success-container > h1 {
	font-size: 40px;
}

.success-container > p {
	font-size: x-large;
}

.menagerie-link, .menagerie-link:visited {
	color: var(--grey2);
	text-transform: uppercase;
	font-weight: bold;
	font-size: smaller;
}